@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* @apply overflow-y-scroll no-scrollbar*/
}

@layer utilities {
  @layer responsive {

    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none;
      /* IE and Edge */
      scrollbar-width: none;
      /* Firefox */
    }
  }
}

h1 {
  @apply text-5xl font-black
}

h2 {
  @apply text-3xl font-extrabold
}

h3 {
  @apply text-2xl font-bold
}

.main {
  @apply flex flex-col h-screen p-2 items-center justify-center
}

nav {
  @apply flex justify-between items-center bg-slate-900 text-primary-text p-2
}



button {
  @apply rounded-lg bg-primary-bg p-4 text-lg font-bold
}

input, select {
  @apply w-full p-2 border text-gray-900 border-gray-300 rounded focus:outline-none
}